<?php
declare(strict_types=1);
/**
 * Copyright © 2021 Franck BAMA. All rights reserved.
 */
//echo $block->getConfigHelperdata("dons/general/enable");
//$block->AddQuote(50);
if($block->getConfigHelperdata("dons/general/enable")){
    $sku=$block->getConfigHelperdata("dons/general/sku");
    $montant=$block->getConfigHelperdata("dons/general/montant");
    if(!empty($sku)){
    if($block->getProductExistInCart($sku)){
        echo $block->getConfigHelperdata("dons/general/sku");
        echo '<br />';
        echo $block->getConfigHelperdata("dons/general/titre");
        echo '<br />';
        echo $block->getConfigHelperdata("dons/general/montant");
        echo '<br />';
        echo $block->getConfigHelperdata("dons/general/editor_textarea");
        $_product = $block->getProductBySku($sku);
        echo '<br /><br/>';
    echo $_product->getEntityId();
    echo '<br />';
    echo $_product->getName();
    $block->AddQuote(50);
    
    }
}

}

?>
<div class="qty-input">
<form method="post" action="<?=$_SERVER['PHP_SELF'];?>" class='test'>
<input type="number" name="montantDons" id="montantDons" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getConfigHelperdata("dons/general/montant");?>" title="<?php /* @escapeNotVerified */ echo __('Montant') ?>" class="input-text test"  />
</div>
<div class="actions">
<button class="action primary animate-out" title="Faire un don" type="submit" id="dons" name="je_donne" onclick="<?php if ( !empty($_POST['montantDons'])) {$val = $_POST['montantDons']; $block->AddQuote($val);}?>" ><span data-bind="i18n: 'Dons'"></span></button>
</div>
</form>
<script type="text/javascript">
  $(document).ready(function(){ 
    var montantDons=$("#montantDons").val();
    $("#montantDons").change(function(){
      var montantDons = $(this).val(); 
      var dataString = montantDons; 

      $.ajax({ 
        type: "POST", 
        url: "#", 
        data: dataString, 
        success: function(result){ 
          $("#show").html(result); 
        }
      });

    });
  });
</script>